.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;   
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);

  &.open {
    display: flex;
  }

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding:60px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    width: 40%;

    @media screen and (max-width: 680px) {
      width: 90%;
    }

    > svg {
      width: 50px;
      height: 50px;
    }

    h1 {
      font-family: 'Poppins', sans-serif;
      margin-bottom: 20px;
    }

    span {
      display: block;
      color: #29292e;
      margin-bottom: 20px;
    }

    .btn-modal {
      padding: 15px;
      width: 150px;
      border-radius:8px;
      border:0;
      background:#a8a8b3;
      color:#737390;
      cursor: pointer;
      margin-right: 10px;
      margin-bottom: 10px;

      &.danger {
        background: #E73F5D;
        color: #fff;
      }

      &:hover {
        filter: brightness(0.9)
      }
    }
  }
}